* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
}

body{
    background-color: #ccecff;
}
header {
    display: flex;
    justify-content: center;
}

.main-header {
    height: 8rem;
    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.pokeball {
    object-fit: cover;
    height: 5rem;
    align-self: center;
}

h1 {
    font-family: "Grandstander";
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 2rem;
}

.bold {
    font-weight: 600;
    letter-spacing: 2px;
}

.section-filters {
    display: flex;
    margin: 0 2rem;
    max-width: 1040px;
    width: 100vw;
}

.pikachu-detective {
    height: 19rem;
}

aside {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.filters {
    flex: 2;
    padding-top: 4rem;
}

form {
    font-family: "Grandstander";
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    letter-spacing: 4px;
}

label {
    margin-bottom: 5px;
    margin-right: 0.5rem;
}

input[type="text"] {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    margin-right: 1rem;
}

input[name="answer-range1"],
input[name="answer-range2"] {
    width: 80px;
    margin: 5px 5px;
}

button {
    background-color: #ffd100;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 10px;
    font-family: "Grandstander";
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 4px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

button:hover {
    background-color: black;
    color: white;
}

.line {
    background-color: black;
    width: 15px;
    height: 2px;
    border-radius: 30px;
}

.form-part1 {
    display: flex;
    align-items: center;
    height:1rem;
}

.form-part2 {
    display: flex;
    align-items: center;
    height: 1rem;
    margin-top: 3rem;
}

.blob {
    width: 4rem;
    height: 3rem;
    margin-left: 1rem;
}

.section-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-evenly;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    max-width: 1500px;
    
}

.card {
    
    display: none;
    height: 15rem;
    width: 30%;
    font-family: "Grandstander";
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
    margin-top: 1rem;
    letter-spacing: 4px;
}

.card:hover {
    box-shadow: 10px 10px 4px gray;
}

.card-image {
    flex: 3;
    border:2px groove black;
    border-right: none;
    background-color: #F2F2F2;
    position: relative;
}


.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 4;
    border:2px groove black;
    padding:1.5rem;
    background-color: white;
}

.card-pokemon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top:0%
    
}

.card-number{
    display: flex;
    justify-content: center;
    width: 75%;
    border:2px groove black;
    border-left: none;
    border-top: none;
    margin: 0;
    position: absolute;
    padding:0.5rem;
    background-color: white;
    z-index: 1; 
}
.type-container{
    display: flex;
    justify-content: space-around;
}
.type-square{
    background-color: #88E29E;
    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    font-size: 20px;
    padding:0.2rem;
    border:2px groove black;
    letter-spacing: 4px;
    margin-bottom: 1rem;
}

.name-container{
    display: flex;
}

.weight-container{
    display: flex;
}

#back-button{
    display: none;
}

#end-page{
    display: none;
    height: 7rem;
}

.filter-buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    height: min-content;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.8);; 
    justify-content: center;
    align-items: center;
    font-family: "Grandstander";
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 4px;
    
}

.modal-content {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height:50%;
    max-width: 800px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%
}

.modal-card-info{
    height: 80%;
    border: 0px;
}

.modal-card-image{
    border:2px groove black;
    border-bottom:2px groove black ;
}

.modal-card-number{
   position: relative;
}


.stats-container {
    margin-top: 1rem;
    width:30%
}

.stat-bar-container {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.stat-bar {
    height: 2rem;
    width: 100%;
    background-color: white;
    overflow: hidden;
    position: relative;
    border:2px groove black;
}

.stat-bar-fill {
    height: 100%;
    background-color: #ffd100; 
    width: 0%; 
    transition: width 1.5s ease-out; 
}

.hp{
    background-color: #b2b6f6;
}

.attack{
    background-color: #feffc2;
}

.defense{
    background-color: #ffd8c2;
}
@media (max-width: 1300px) {
    .card {
        width: 45%; 
    }
}


@media (max-width: 800px) {

    .section-filters {
        flex-direction: column;
        align-items: center;
        margin: 0 1rem;
    }

    .section-cards{
        max-width: 768px;
        width: 80%;
    }
    .card {
        width: 100%;
        margin: 1rem 0;
    }

    .pokeball {
        height: 3rem;
    }

    input[type="text"] {
        max-width: 100%;
    }

    .pikachu-detective {
        display: none;
    }

    h1 {
        font-size: 25px;
    }

    .modal{
        font-size: 20px;
    }
}


@media (max-width: 500px) {
    .card {
        width: 100%;
        margin: 1rem 0;
        font-size: medium;
    }

   .card-image{
    flex: 2;
   }

   .card-info{
    flex:2;
   }

   .type-square{
    font-size: medium;
   }

   label{
    font-size: medium;
   }

   button{
    font-size: medium;
    width: fit-content;
   }

    .section-filters {
        margin: 0 0.5rem;
    }

    h1 {
        font-size: 20px;
    }

    input[type="text"] {
        max-width: 100%;
    }

    .modal-content {
        height: fit-content;
        width: 100%;
        margin-top: 10rem;
        margin-bottom: 1rem;

    }
    .modal-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:100%;
    }

    .modal-card-info{
        margin-top: 2rem;
    }
    .modal-card-image{
        width:70%;
        border:0px;
        border:2px groove black;
        margin-top: 2rem;
    }
}

@media (max-width: 400px) {
    .card{
        flex-direction: column;
        height:fit-content;
    }

    .card-image{
        border-bottom: 0px;
        border-right:2px groove black;

    }

    
    input[type="text"] {
        width: 100%;
    }
    
    input[name="answer-range1"],
    input[name="answer-range2"] {
        width: 50px;
        margin: 5px 5px;
    }

    button{
        width: min-content;
        font-size: 12px;

    }

    .blob{
        width: 2rem;
        height: 2rem;
    }

    h1{
        margin:0px;
        font-size:25px ;
        margin-left: 1rem;
    }
}


